#hovertext:hover {
    zoom: 150%;
    
   }

 #hovertext:hover h1{
    zoom: 150%;
    color: black;
 
   }

  html {
  scroll-behavior: smooth;
}

/* Remove horizontal scroll globally */
body {
  overflow-x: hidden;
}

/* Make images & divs responsive */
img, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Remove margin leaks on small devices */
.container-fluid, .row, .col {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
