body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 #home{
  z-index: -1;
  background-image: url("https://64.media.tumblr.com/a523aac3670fb6af34ba6bf92a9a5917/60a389cd0631fc65-71/s640x960/ac4918cfe8959fe7c984f1af5e5faed7f4ef7a85.gif");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  height: 100vh;
  width:100%;

 }


