body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;


}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* 
 #home{
  z-index: -1;
  background-image: url("./assests/Sleek Menswear Instagram Post.gif");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  height: 100vh;
  width:100%;

 } */

#contact{
  background-image: url("/src/assests/c.gif");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  height: 100vh;
  width:100%;

}

/* Remove horizontal scroll globally */


/* Make images & divs responsive */
img, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Remove margin leaks on small devices */
.container-fluid, .row, .col {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



